.increase {
    -fx-background-color: green;
}
.decrease {
    -fx-background-color: red;
}
.discarding {
    -fx-text-fill: red;
}
#hBoxCards {
    -fx-background-color: white;
}

.titled-pane {
    -fx-border-color: black;
}